/* pag juegos */


.juego__ps5--juegos {

    @extend %posicion;

    img {
        width: 800px;
        height: 800px;




    }

}

.juego__pc--juegos {

    @extend %posicion;

    img {
        width: 800px;
        height: 800px;



    }

}

.juego__xbox--juegos {

    @extend %posicion;

    img {
        width: 800px;
        height: 800px;



    }

}

p {

    font-size: 16px;
    margin-left: 20px;



}